/* Base */
/****** header layout *****************************************/
/* reset y generales ********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  background-color: #161616;
  scroll-behavior: smooth;
}

p {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* boton base */
.btn {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1.83px solid #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 0;
  padding: 0.43rem 1.25rem;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* header ********************/
.header {
  position: relative;
  overflow: hidden;
}

/* contenedor para titulos y botones hero */
.hero {
  position: relative;
  min-height: 100vh;
  max-height: 840px;
  overflow: hidden;
}

/* forma y posicion del nucleo izquierda y arriba */
/* primer color nucleo luz*/
/* caida y tamanio del blur */
/* residuo de luz */
/* desaparicion total */
/* efectos de fondo del hero */
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: radial-gradient(ellipse at 17% 20%, rgb(229, 223, 204), rgba(229, 223, 204, 0.411) 25%, rgba(229, 223, 204, 0.08) 50%, transparent 70%), radial-gradient(circle at 120% -25%, rgb(229, 223, 204), rgba(229, 223, 204, 0.445) 15%, rgba(229, 223, 204, 0.06) 35%, transparent 50%), radial-gradient(circle at 10% 85%, rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.6) 7%, rgba(0, 0, 0, 0.3) 15%, transparent 30%), radial-gradient(circle at 45% 70%, rgba(229, 223, 204, 0.342), rgba(229, 223, 204, 0.267) 10%, rgba(229, 223, 204, 0.08) 25%, transparent 45%), radial-gradient(ellipse at 58% 22%, rgba(60, 60, 60, 0.7), rgba(60, 60, 60, 0.35) 35%, rgba(60, 60, 60, 0.15) 55%, transparent 75%), linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 35%), #161616;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  max-height: 80%;
  row-gap: 1.5rem;
  position: relative;
  /* espacio para navbar fija */
  margin-top: 60px;
  margin-left: 4rem;
  z-index: 1;
}

.hero__title {
  color: #fff;
  font-weight: 700;
  font-size: clamp(3.5rem, 9.8vw, 11rem);
  white-space: nowrap;
  margin-top: 3rem;
  margin-bottom: 0;
}

.hero__product {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-40%);
  width: 90vw;
  min-width: 720px;
  max-width: 1300px;
  z-index: 2;
}

.hero__subtitle {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  width: 470px;
  margin-top: 1.6rem;
  margin-left: 2.5rem;
  margin-bottom: 0;
  height: auto;
}

.hero__price {
  font-size: 2.2rem;
  font-weight: 500;
  width: 138px;
  height: auto;
  margin-left: 2.5rem;
}

.hero__cta {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 2.5rem;
  padding: 0.43rem 1.25rem;
}

.hero__cta:hover {
  border-color: #fff;
  opacity: 0.7;
  transform: translateY(-1px);
}

.side__label {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 2.5rem;
  z-index: 2;
}

/* linea de texto a la derecha del texto */
.side__label::after {
  content: "";
  width: 1.5px;
  height: 200px;
  background-color: #fff;
}

.side__text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  letter-spacing: 0.2em;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-top: 7rem;
}

/* bootstrap navbar personalizada */
.custom-navbar {
  color: #fff !important;
  /* links a la derecha en hamburguesa */
  text-align: right;
  position: relative;
  /* logo de texto */
}
.custom-navbar .navbar-brand {
  font-size: 18px !important;
  font-weight: 600 !important;
  letter-spacing: 7px !important;
  margin-left: 2rem;
}
.custom-navbar a {
  color: #fff !important;
  font-size: 0.8rem; /*0.8rem = 12.8 px*/
  font-weight: 350 !important;
}
.custom-navbar a:hover {
  text-decoration: none;
  opacity: 0.7;
  transform: translateY(-1px);
}
.custom-navbar {
  /* link activo navbar */
}
.custom-navbar .nav-link[aria-current=page] {
  color: #fff !important;
  font-weight: 600 !important;
}

.nav-icons {
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-icon:hover {
  opacity: 0.7;
  transform: translateY(-1px);
}

.nav-icon img {
  width: 22px;
  height: 22px;
}

/****** fin header layout *****************************************/
/****** main layout *****************************************/
/****** footer layout *****************************************/
/* media querys para tablets y celulares --------------------------------------------- */
/* responsive tablet */
@media (max-width: 768px) {
  body, p {
    font-size: 1.2rem;
  }
  /* cambio la imagen */
  .header {
    /* Url debo cambiar imagen */
    background-position-x: 100%;
    background-position-y: 100%;
  }
  .hero__title {
    font-size: 2.3rem;
  }
  .hero__subtitle {
    font-size: 1.05rem;
  }
  .hero__cta {
    /* achico el font-size */
  }
  /* bootstrap navbar personalizada ------------------- */
  .custom-navbar {
    /* logo se acomoda al centro en tablet y mobile */
  }
  .custom-navbar .navbar-brand {
    margin-right: auto;
    margin-left: auto;
  }
  .custom-navbar {
    /* navbar hamburguesa desplegada con blur */
  }
  .custom-navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    /* transparencia */
    background-color: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Safari */
  }
  .custom-navbar .navbar-toggler {
    border: none;
  }
  .custom-navbar {
    /* pone las rayitas del menu hamburguesa en blanco */
  }
  .custom-navbar .navbar-toggler-icon {
    filter: invert(1);
  }
}
/* responsive mobile */
@media (max-width: 390px) {
  body, p {
    font-size: 1rem;
  }
  .hero__title {
    /* achico el font-size y agrando espacio para el texto */
    font-size: 1.8rem;
    max-width: 70%;
  }
  .hero__cta {
    /* achico el font-size */
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
