@import './utilities/_extends';
@import './utilities/_variables';
@import './utilities/_mixins';

@import './layouts/_header';
@import './layouts/_main';
@import './layouts/_footer';


/* ========================
   DESKTOP BASE y NOTEBOOKS GRANDES (1200+)
======================== */

/* Por defecto mostramos desktop y escondemos layout mobile */
.hero-mobile {
    display: none;
}    


/* ========================
   TABLET PORTRAIT
======================== */

//@media (min-width: 768px) and (max-width: 1023px) {
@include tablet-portrait { 

    // escondo layout mobile
    .hero-mobile {
        display: none;
    }   

    .hero-desktop {    
        height: auto;
        min-height: 100vh;
        background-color: lightseagreen;
    }

    .hero__title {
        font-size: clamp(4.5rem, 9.5vw, 10rem);
    }

    .hero__subtitle {
        font-size: clamp(0.95rem, 2vh, 1.2rem);
    }  

    /* linea a la derecha del texto */
    .hero__side-label::after {
        height: clamp(6rem, 16vh, 14rem);
    }
}

/* ========================
   TABLET LANDSCAPE
======================== */

//@media (min-width: 1024px) and (max-width: 1199px) {
@include tablet-landscape {

    // escondo layout mobile
    .hero-mobile {
        display: none;
    }

    .hero-desktop {    
        height: auto;
        min-height: 100vh;
        background-color: lightcoral;
    }        

    .hero__content {
        gap: clamp(1rem, 2vh, 2rem);  
    }

    .hero__subtitle {
        font-size: clamp(0.75rem, 2.1vh, 1.5rem)        
    }

    .hero__price {
        font-size: clamp(1.5rem, 4vw, 3rem); 
        margin-left: 2.5rem;
    }

    /* linea a la derecha del texto */
    .hero__side-label::after {
        height: clamp(6rem, 16vh, 14rem);
    }
}

/* ===================================
   MENU HAMBURGUESA tablet/mobile
==================================== */

// menu hamburguesa desplegado, navbar-expand-lg cambia en 992px.
//@media (max-width: 991px) {
@include lg-down {
    
    .custom-navbar {

        .container {
            padding-left: clamp(1rem, 3vw, 2rem);
            padding-right: clamp(1rem, 3vw, 2rem);            
        }

        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem;
            /* navbar hamburguesa desplegada con blur */    
            background-color: rgba(0, 0, 0, 0.55);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px); /* Safari */        
        }

        .navbar-nav {
            // cambio espacio entre links
            gap: clamp(0.5rem, 1vh, 1rem) !important;
        }    

        .navbar-toggler {
            margin-right: auto;
        }

        /* pone las rayitas del menu hamburguesa en blanco */
        .navbar-toggler-icon {
            filter: invert(1);
        }

        .navbar-brand {
            margin: 0 auto !important;
            font-size: clamp(1.5rem, 4vw, 2.8rem) !important;
            letter-spacing: clamp(4px, 1vw, 12px) !important;      
        }

        .nav-icons {
            margin-left: auto !important;
        }

        /* ocultar icono user */
        .nav-user {        
            display: none;
        }
    }

}

/* ========================
   MOBILE (0–767)
======================== */

//@media (max-width: 767px) {
@include mobile {    

    /* esconde desktop y activo mobile */
    .hero-desktop { display: none; }
    .hero-mobile { display: flex; }

}