@import './utilities/_extends';
@import './utilities/_variables';
@import './utilities/_mixins';

@import './layouts/_header';
@import './layouts/_main';
@import './layouts/_footer';




/* media querys para tablets y celulares --------------------------------------------- */

/* notebook comun (1366x641) */

@media (min-width: 1300px) and (max-width: 1919px) {

    .hero {
        //height: 770px;
        //height: min(100vh,953px);
        background-color: brown;
    }
    /*
    .hero__product {
        height: 600px;
        transform: translateX(-46%); // mueve la imagen
    }
    .hero__content {
       // gap: 1.2rem;
        margin-bottom: 270px; //baja la imagen
    }
    .hero__subtitle {
        margin-top: 0;
    }  

    
    .hero__side-label::after {
        height: clamp(2rem, 10vw, 10rem);        
    }

    
    .hero__side-text {
        font-size: 0.6rem;
        padding-top: 2.5rem;      // distancia hasta la base, esta invertido
    }
        */
}


/* Desktop grande (1920x953) */

@media (min-width: 1820px) {
    .hero {
        //height: 960px;
        //height: min(100vh,953px);
        background-color: green;
    }
    /*
    .hero__product {
        //height: 880px;
        height: 760px;
        transform: translateX(-27%);
    }
    .hero__content {
        gap: 3rem;       
        margin-bottom: 300px;
    }
    .hero__subtitle {
        margin-top: 2rem;
    }  

    .hero__side-label::after {
        height: clamp(2rem, 8vw, 15rem);
    }

    .hero__side-text {
        font-size: 0.8rem;        
        padding-top: 4rem;   // distancia hasta la base, esta invertido
    }
*/
}





/* responsive tablet */
@media (max-width: $tamanioTablet) {

    body, p {
        font-size: 1.2rem;
    }

    /* cambio la imagen */
    .header{    
        /* Url debo cambiar imagen */
        background-position-x: 100%;
        background-position-y: 100%;        
    }

    .hero__title {
        font-size: 2.3rem;
    }

    .hero__subtitle {
        font-size: 1.05rem;
    }
  
    .hero__cta {
         /* achico el font-size */
    }        

    /* bootstrap navbar personalizada ------------------- */
    .custom-navbar {
        // a {
        //     font-size: 0.8rem;
        //     font-weight: 350 !important;
        //       color: yellow !important;             

        //     &:hover {
        //         text-decoration: none;
        //         font-weight: 600 !important;    
        //         color: blue !important;             
        //     }
        // }        
    
        /* logo se acomoda al centro en tablet y mobile */
        .navbar-brand {
        margin-right: auto;
        margin-left: auto;
        }

        /* navbar hamburguesa desplegada con blur */
        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 1rem;        
            /* transparencia */
            background-color: rgba(0, 0, 0, 0.555);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px); /* Safari */
        } 

        .navbar-toggler {
            border: none;
        }

        /* pone las rayitas del menu hamburguesa en blanco */
        .navbar-toggler-icon {
            filter: invert(1);
        }

    }
  
}


/* responsive mobile */
@media (max-width: $tamanioMobile) {

    body, p {
        font-size: 1rem;
    }

    .hero__title {
        /* achico el font-size y agrando espacio para el texto */
        font-size: 1.8rem;
        max-width: 70%;
    }
    
    .hero__cta {
        /* achico el font-size */
        font-size: 0.8rem;
    }    
}
