/* ======================
   Breakpoint Mixins
====================== */

@mixin mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: $bp-tablet-portrait-min) and (max-width: $bp-tablet-portrait-max) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: $bp-tablet-landscape-min) and (max-width: $bp-tablet-landscape-max) {
    @content;
  }
}

/* Bootstrap lg-down */
@mixin lg-down {
  @media (max-width: $bp-lg) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

