// dimensiones de dispositivos para diseño responsive
$tamanioDesktop: 1440px;    // desktop
$tamanioTablet: 768px;      // tablet
$tamanioMobile: 390px;      // mobile

$fontPrimary: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;


/* Base */
$color-bg-general:  #161616;
$color-text-main: #fff;      // Texto principal
$color-text-inverse: #ffffff;
