/* ===========================
   Fuentes
=========================== */

$fontPrimary: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

/* ===========================
   Colores
=========================== */

$color-bg-general:  #161616;
$color-text-main: #fff;      // Texto principal
$color-text-inverse: #ffffff;


/* ===========================
   Layout
=========================== */

$layout-max-width: 1660px;
//$hero-max-height: 1100px;

/* ===========================
   Breackpoints
=========================== */

$bp-mobile: 767px;
$bp-tablet-portrait-min: 768px;
$bp-tablet-portrait-max: 1023px;
$bp-tablet-landscape-min: 1024px;
$bp-tablet-landscape-max: 1199px;
$bp-lg: 991px; // Bootstrap lg breakpoint
$bp-desktop: 1200px;



/*
Figma Desktop 1280x832		
pantalla Notebook   1366x768 
Montiro Samgung     1920*1080

Monitores grandes:
2K / QHD            2560x1440
Ultrawide 34"       3440x1440
4K                  3840x2160   

**************************

tablet portrait 768x834
table landscape 1024x1180	

**************************

Figma Mobile 320x568

*/

// capas 0 gradients, 1 contenido hero, 2 campera y texto, 3 navbar
// orden de los valores en los gradients
/* forma y posicion del nucleo izquierda y arriba */
/* primer color nucleo luz*/
/* caida y tamanio del blur */
/* residuo de luz */
/* desaparicion total */    