/****** header layout *****************************************/

/* reset y generales ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontPrimary;
    color: $color-text-main;
    scroll-behavior: smooth;

    background-color: $color-bg-general;
    /*
    background: #E5DFCC;
    background: radial-gradient(circle, rgba(229, 223, 204, 1) 0%, rgba(22, 22, 22, 1) 100%);
*/
}

p {    
    font-family: $fontPrimary;
    color: $color-text-main;
}

a {
    text-decoration: none;
    color: $color-text-main;
}


/* boton base */
.btn {
    color: $color-text-main;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1.83px solid $color-text-main;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding: 0.43rem 1.25rem; //padding: 7px 20px;  /* espacio dentro del boton, alto ancho */
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}


/* header ********************/
// capas 0 gradients, 1 contenido hero, 2 campera y texto 
.header {    
    // para degrades de fondo
    position: relative;
    overflow: hidden;         
}

/* grid principal */
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;  
    
    display: grid;

    /* columnas texto - imagen - aire derecho */
    grid-template-columns: 
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 0.5fr);

    //grid-template-columns: 40% 40% 20%;
    /* filas */
    grid-template-rows: auto 1fr auto;
    
    padding: 0 clamp(2rem, 6vw, 6rem);    

    /* altura controlada */
    height: min(100vh, 1100px);

    /* limite ancho tipo marcas grandes */
    max-width: 1660px;
    margin: 0 auto;
     
    //background-color: pink;
}


/* efectos de fondo del hero */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    //inset: -40%;    
    z-index: 0;
    background:

        /* MARCA elipse 1 arriba izquierda */
        radial-gradient(
            ellipse at 17% 20%,                 
            rgb(229, 223, 204),               
            rgba(229, 223, 204, 0.411) 25%,   
            rgba(229, 223, 204, 0.08) 50%,    
            transparent 70%                     
        ),    
        
        /* ICONOS circulo 6 arriba derecha */    
        radial-gradient(
            circle at 120% -25%,                
            rgba(229, 223, 204), 
            rgba(229, 223, 204, 0.445) 15%,  
            rgba(229, 223, 204, 0.06) 35%, 
            transparent 50%    
        ),    

         /* SOMBRA INFERIOR elipse 3 */
        radial-gradient(
            circle at 10% 85%,
            rgba(0, 0, 0, 0.644),
            rgba(0, 0, 0, 0.6) 7%,
            rgba(0, 0, 0, 0.3) 15%,
            transparent 30%            
        ),    
        
        /*  PRODUCTO elipse 5 abajo centro */
        radial-gradient(
            circle at 45% 70%,                
            rgba(229, 223, 204, 0.342),
            rgba(229, 223, 204, 0.267) 10%,   
            rgba(229, 223, 204, 0.08) 25%,    
            transparent 45%           
        ), 

        /* NUBE GRIS elipse 4 detrás del título */
        radial-gradient(
            ellipse at 58% 22%,             
            rgba(60, 60, 60, 0.7),
            rgba(60, 60, 60, 0.35) 35%,
            rgba(60, 60, 60, 0.15) 55%,
            transparent 75%
        ),

        /* rectangulo oscuro inferior */
        linear-gradient(
            0deg,
            #000000 0%,
            rgba(0, 0, 0, 0) 35%
        ),        

        /* fondo base */
        $color-bg-general;

/* forma y posicion del nucleo izquierda y arriba */
/* primer color nucleo luz*/
/* caida y tamanio del blur */
/* residuo de luz */
/* desaparicion total */        
}

/* columna izquierda contenido */
.hero__content {
  grid-column: 1;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

            //max-width: 640px;

  //align-self: center;
    align-self: start;
    margin-top: clamp(2rem, 15vh, 10rem);

  z-index: 1;

  //background-color: violet;
}

/* columna derecha producto */
.hero__media {
    grid-column: 2;
    grid-row: 2 / 4; /* ocupa centro y base */

    display: flex;
    align-items: flex-end;
    justify-content: center;
    }

.hero__product {
    //height: 75%;
    height: 80%;
    width: auto;

    z-index: 2;
}

/* titulo grande */
.hero__title {
    color: $color-text-main;
    font-weight: 700; // Bold    

    // para superponer imagen y texto
    font-size: clamp(3.5rem, 9.5vw, 10rem);
    line-height: 1;

    white-space: nowrap; // que no baje a otra linea
    margin-top: 0;
    margin-bottom: 0;

    //background-color: fuchsia;
}

.hero__subtitle {
    color: $color-text-main;
    //font-size: 1rem;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);

    font-weight: 500; // Medium
    width: 470px;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-bottom: 0;
    height: auto;
     //background-color: blue;
}

.hero__price {
    font-size: 2.2rem;
    //font-size: 39.78px;    
    font-weight: 500; // SemiBold;
    width: 138px;
    height: auto;
    margin-left: 2.5rem;
}

// btn hero
.hero__cta {
    font-size: 0.8rem;   
    //font-size: 15.08px;   
    font-weight: 400; // SemiBold;
    width: fit-content;
    margin-left: 2.5rem;     
    padding: 0.43rem 1.25rem; //padding: 7px 20px;  /* espacio dentro del boton, alto ancho */
}

.hero__cta:hover {
    border-color: $color-text-main;
    opacity: 0.7;
    transform: translateY(-1px);  
}

/* texto vertical mas linea */
.hero__side-label {
    grid-column: 1;
    grid-row: 3;
    align-self: end;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
   // gap: 0.4rem;
   gap: clamp(0.3rem, 0.5vw, 0.8rem);
    z-index: 2;
}

/* linea a la derecha del texto */
.hero__side-label::after {
    content: "";
    width: 1.5px;
    height: clamp(4rem, 10vw, 12rem);
    background-color: $color-text-main;   
}

/* texto */
.hero__side-text {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    letter-spacing: 0.2em;
    //font-size: 0.8rem;
    font-size: clamp(0.7rem, 1.5vh, 1.5rem);
    text-transform: uppercase;
    //padding-top: 3rem;      

    // distancia hasta la base, esta invertido
    padding-top: clamp(2rem, 6vh, 5rem);

    // background-color: orange;
}

/* bootstrap navbar personalizada */
.custom-navbar {
    color: $color-text-main !important;
    /* links a la derecha en hamburguesa */
    text-align: right;
    position: relative;

    // navbar-nav {
    //     gap: 5rem !important;
    //     background-color: brown !important;
    // }

    // alinea con el hero
    .navbar .container-fluid {
        max-width: 1600px;
        margin: 0 auto;
    }

    /* logo de texto */
    .navbar-brand {
        font-size: 18px !important;
        font-weight: 600 !important;
        letter-spacing: 7px !important;
        //margin-left: -3rem;
    }    

    a {
        color: $color-text-main !important;
        font-size: 0.8rem; /*0.8rem = 12.8 px*/
        font-weight: 350 !important;

        &:hover {
            text-decoration: none;
            opacity: 0.7;
            transform: translateY(-1px);            
        }
    }

    /* link activo navbar */
    .nav-link[aria-current="page"] {
        color: $color-text-main !important;
        font-weight: 600 !important;         
    }    
}

// contenedor para los dos iconos
.nav-icons {
    gap: 1rem;
    align-items: center;
    margin-left: auto; /* empuja a la derecha */
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-icon:hover {
    opacity: 0.7;
    transform: translateY(-1px);
}

.nav-icon img {
    width: 22px;
    height: 22px;
}



/****** fin header layout *****************************************/