/****** header layout *****************************************/

/* reset y generales ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, p {    
    font-family: $fontPrimary;
    background-color: $color-bg-general;
    color: $color-text-main;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $color-text-main;
}

/* header con imagen de fondo */
.header {    
    background: url("../../img/Rectangle-CamperaCapuchaHero.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-x: 0%;
    background-position-y: 0%;
}

/* contenedor para la descripcion del sitio */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  max-height: 80%;
  row-gap: 2em;
  /* espacio para navbar fija */
  margin-top: 100px;    

    margin-left: 113.34px;
    //margin-top: 63.26px; // 344.14px - espacio al herotitulo 121.88 - altura hero 159px = 63.26
    margin-top: 1rem;
}

.hero__title {    
    color: $color-text-main;
    font-weight: 700; // Bold    
    font-size: 130.24px;

    //width: 1169px; /// ojo esto
    width: 1210px; /// ojo esto, tuve que agrandar caja para que entrara
    height: 159px;

    margin-top: 121.88px;
    // margin-left: 68.46px;
}

.hero__subtitle {
    color: $color-text-main;
    font-size: 19.45px;    
    font-weight: 500; // Medium  // ojo con esto
    //font-weight: 150;  // ojo con esto. 500 se veia muy grande
    width: 470px;
    height: 113px;
    margin-bottom: 0;
}

.hero__price {
    font-size: 39.78px;    
    font-weight: 600; // SemiBold;
    width: 138px;
    height: 48px;    
    margin-top: 88.03px;  // 481.72 - espacio al herotitulo 121.88 - altura hero 159px - altura grupo texto subtitulo 112.81 = 
    //margin-top: 0.5rem;
}

/* boton base */
.btn {
    color: $color-text-main;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1.83px solid $color-text-main;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    // padding: 0.7rem 1.6rem; /* espacio dentro del boton */
    padding: 10px 20px; 

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.hero__cta {
    font-weight: 600; // SemiBold;
    font-size: 15.08px;    
    // width: 125px;
    // height: 18px;
    //margin-top: 126.37px; // 568.06 - espacio al herotitulo 121.88 - altura hero 159px - altura grupo texto subtitulo 112.81 - altura precio 48 = 126.37px;
    //margin-top: 1rem;
}

.hero__cta:hover {
  transform: translateY(-1px);
  border-color: $color-text-main;
}

/* bootstrap navbar personalizada */
.custom-navbar {
    color: $color-text-main !important;
    /* links a la derecha en hamburguesa */
    text-align: right;
    position: relative;

    /* link activo navbar */
    .nav-link[aria-current="page"] {
        color: $color-text-main !important;
        font-weight: 600 !important;        
    }

    a {
        color: $color-text-main !important;
        font-size: 1.2rem;
        font-weight: 350 !important;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;

        &:hover {
            text-decoration: none;
            font-weight: 600 !important;                 
        }
    }    
}

.navbar-toggler {
    border: none;
}

/* pone las rayitas del menu hamburguesa en blanco */
.navbar-toggler-icon {
    filter: invert(1);
}

/* logo se acomoda al centro en tablet y mobile */
.navbar-brand {
  margin-right: auto;
  margin-left: auto;
}


/****** fin header layout *****************************************/