/****** header layout *****************************************/

/* reset y generales ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontPrimary;
    color: $color-text-main;    
    background-color: $color-bg-general;
    scroll-behavior: smooth;
}

p {    
    font-family: $fontPrimary;
    color: $color-text-main;
}

a {
    text-decoration: none;
    color: $color-text-main;
}


/* boton base */
.btn {
    color: $color-text-main;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1.83px solid $color-text-main;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding: 0.43rem 1.25rem; //padding: 7px 20px;  /* espacio dentro del boton, alto ancho */
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}


/* header ********************/

.header {    
    // para degrades de fondo
    position: relative;
    overflow: hidden;         
}

/* contenedor para titulos y botones hero */
.hero {
    position: relative;
    min-height: 100vh;
    max-height: 840px; // CHEQUEAR
    overflow: hidden;    
}

/* forma y posicion del nucleo izquierda y arriba */
/* primer color nucleo luz*/
/* caida y tamanio del blur */
/* residuo de luz */
/* desaparicion total */

/* efectos de fondo del hero */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    //inset: -40%;    
    z-index: 0;
    background:

        /* MARCA elipse 1 arriba izquierda */
        radial-gradient(
            ellipse at 17% 20%,                 
            rgb(229, 223, 204),               
            rgba(229, 223, 204, 0.411) 25%,   
            rgba(229, 223, 204, 0.08) 50%,    
            transparent 70%                     
        ),    
        
        /* ICONOS circulo 6 arriba derecha */    
        radial-gradient(
            circle at 120% -25%,                
            rgba(229, 223, 204), 
            rgba(229, 223, 204, 0.445) 15%,  
            rgba(229, 223, 204, 0.06) 35%, 
            transparent 50%    
        ),    

         /* SOMBRA INFERIOR elipse 3 */
        radial-gradient(
            circle at 10% 85%,
            rgba(0, 0, 0, 0.644),
            rgba(0, 0, 0, 0.6) 7%,
            rgba(0, 0, 0, 0.3) 15%,
            transparent 30%            
        ),    

        
        /*  PRODUCTO elipse 5 abajo centro */
        radial-gradient(
            circle at 45% 70%,                
            rgba(229, 223, 204, 0.342),
            rgba(229, 223, 204, 0.267) 10%,   
            rgba(229, 223, 204, 0.08) 25%,    
            transparent 45%           
        ), 

        /* NUBE GRIS elipse 4 detrás del título */
        radial-gradient(
            ellipse at 58% 22%,             
            rgba(60, 60, 60, 0.7),
            rgba(60, 60, 60, 0.35) 35%,
            rgba(60, 60, 60, 0.15) 55%,
            transparent 75%
        ),

        /* rectangulo oscuro inferior */
        linear-gradient(
            0deg,
            #000000 0%,
            rgba(0, 0, 0, 0) 35%
        ),        

        /* fondo base */
        $color-bg-general;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    max-height: 80%;
    row-gap: 1.5rem;
    position: relative;
    /* espacio para navbar fija */
    margin-top: 60px;
    margin-left: 4rem;
    z-index: 1;
    // 0 gradients, 1 contenido hero, 2 campera y texto girado      

    //background-color: blueviolet;
}

.hero__title {    
    color: $color-text-main;
    font-weight: 700; // Bold    

    // para superponer imagen y texto
    font-size: clamp(3.5rem, 9.8vw, 11rem);

    white-space: nowrap;
    margin-top: 3rem;
    margin-bottom: 0;
    //background-color: aqua;
}

.hero__product {
    position: absolute;
    top: 50%;
    right:-0%;
    transform: translateY(-40%);
    width: 90vw;
    min-width: 720px;
    max-width: 1300px;
    z-index: 2;    
}

.hero__subtitle {
    color: $color-text-main;
    //font-size: 19.45px;    
    font-size: 1rem;
    font-weight: 500; // Medium
    width: 470px;
    margin-top: 1.6rem;
    margin-left: 2.5rem;
    margin-bottom: 0;
    height: auto;
    // background-color: yellow;
}

.hero__price {
    font-size: 2.2rem;
    //font-size: 39.78px;    
    font-weight: 500; // SemiBold;
    width: 138px;
    height: auto;
    margin-left: 2.5rem;
}

// btn hero
.hero__cta {
    font-size: 0.8rem;   
    //font-size: 15.08px;   
    font-weight: 400; // SemiBold;
    margin-left: 2.5rem;     
    padding: 0.43rem 1.25rem; //padding: 7px 20px;  /* espacio dentro del boton, alto ancho */
}

.hero__cta:hover {
    border-color: $color-text-main;
    opacity: 0.7;
    transform: translateY(-1px);  
}


.side__label {
    position: absolute;
    bottom: 0;          // linea llega hast el fondo
    display: flex;
    align-items: center; 
    gap: 0.3rem;
    margin-left: 2.5rem;
    z-index: 2;
    // 0 gradients, 1 contenido hero, 2 campera y texto girado
}

/* linea de texto a la derecha del texto */
.side__label::after {
    content: "";
    width: 1.5px;
    height: 200px;
    background-color: $color-text-main;   
}

.side__text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
    letter-spacing: 0.2em;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-top: 7rem;            // distancia hasta la base, esta invertido
    // background-color: orange;
}

/* bootstrap navbar personalizada */
.custom-navbar {
    color: $color-text-main !important;
    /* links a la derecha en hamburguesa */
    text-align: right;
    position: relative;

    // navbar-nav {
    //     gap: 5rem !important;
    //     background-color: brown !important;
    // }

    /* logo de texto */
    .navbar-brand {
        font-size: 18px !important;
        font-weight: 600 !important;
        letter-spacing: 7px !important;
        margin-left: 2rem;
    }    

    a {
        color: $color-text-main !important;
        font-size: 0.8rem; /*0.8rem = 12.8 px*/
        font-weight: 350 !important;

        &:hover {
            text-decoration: none;
            opacity: 0.7;
            transform: translateY(-1px);            
        }
    }

    /* link activo navbar */
    .nav-link[aria-current="page"] {
        color: $color-text-main !important;
        font-weight: 600 !important;         
    }
    
    // .custom-navbar-icons {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 2rem;
    //     margin-right: 4rem;
    //     background-color: bisque !important;
    // // d-flex d-row gap-2 me-4
    // }
}

.nav-icons {
    gap: 1rem;
    align-items: center;
    margin-right: 1rem;
    //margin-left: auto; /* empuja a la derecha */
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-icon:hover {
    opacity: 0.7;
    transform: translateY(-1px);
}

.nav-icon img {
    width: 22px;
    height: 22px;
}



/****** fin header layout *****************************************/