/****** header layout *****************************************/

/* reset y generales ********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontPrimary;
    color: $color-text-main;
    scroll-behavior: smooth;

    background-color: $color-bg-general;
}

p {    
    font-family: $fontPrimary;
    color: $color-text-main;
}

a {
    text-decoration: none;
    color: $color-text-main;
}

.btn {
    color: $color-text-main;
    font-size: 1.2rem;
    font-weight: 400;
    border: 1.83px solid $color-text-main;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding: 0.43rem 1.25rem; //padding: 7px 20px;  /* espacio dentro del boton, alto ancho */
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}


/* header ********************/
.header {    
    // para degrades de fondo
    position: relative;
    overflow: hidden;    
    background-color: $color-bg-general;         
}


/* grid principal */
.hero-desktop {
    position: relative;
    overflow: hidden;  
    display: grid;

    /* columnas texto - imagen - aire derecho */
    grid-template-columns: 
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 0.5fr);

    /* filas */
    grid-template-rows: auto 1fr auto;
    
    padding: 0 clamp(2rem, 6vw, 6rem);    

    min-height: 100vh;
    width: 100%;      
    /* limite ancho tipo marcas grandes */
    max-width: $layout-max-width;
    margin: 0 auto;
}

/* efectos de fondo del hero */
.hero-desktop::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background:

        /* MARCA elipse 1 arriba izquierda */
        radial-gradient(
            ellipse at 17% 20%,                 
            rgb(229, 223, 204),               
            rgba(229, 223, 204, 0.411) 25%,   
            rgba(229, 223, 204, 0.08) 50%,    
            transparent 70%                     
        ),    
        
        /* ICONOS circulo 6 arriba derecha */    
        radial-gradient(
            circle at 120% -25%,                
            rgba(229, 223, 204), 
            rgba(229, 223, 204, 0.445) 15%,  
            rgba(229, 223, 204, 0.06) 35%, 
            transparent 50%    
        ),    

         /* SOMBRA INFERIOR elipse 3 */
        radial-gradient(
            circle at 10% 85%,
            rgba(0, 0, 0, 0.644),
            rgba(0, 0, 0, 0.6) 7%,
            rgba(0, 0, 0, 0.3) 15%,
            transparent 30%            
        ),    
        
        /*  PRODUCTO elipse 5 abajo centro */
        radial-gradient(
            circle at 45% 70%,                
            rgba(229, 223, 204, 0.342),
            rgba(229, 223, 204, 0.267) 10%,   
            rgba(229, 223, 204, 0.08) 25%,    
            transparent 45%           
        ), 

        /* NUBE GRIS elipse 4 detrás del título */
        radial-gradient(
            ellipse at 58% 22%,             
            rgba(60, 60, 60, 0.7),
            rgba(60, 60, 60, 0.35) 35%,
            rgba(60, 60, 60, 0.15) 55%,
            transparent 75%
        ),

        /* rectangulo oscuro inferior */
        linear-gradient(
            0deg,
            #000000 0%,
            rgba(0, 0, 0, 0) 35%
        ),        

        $color-bg-general;   
}

/* columna izquierda contenido */
.hero__content {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    flex-direction: column;

    gap: clamp(1rem, 2vh, 2rem);  

    align-self: start;
    margin-top: clamp(2rem, 15vh, 10rem);

    z-index: 1;
}

/* columna derecha producto */
.hero__media {
    grid-column: 2;
    grid-row: 2 / 4; /* ocupa centro y base */

    display: flex;
    align-items: flex-end;
    justify-content: center;
    }

.hero__product {
    height: 80%;
    width: auto;
    z-index: 2;
}

/* titulo grande */
.hero__title {
    color: $color-text-main;
    font-weight: 700; // Bold    

    // para superponer imagen y texto
    font-size: clamp(5.5rem, 9.7vw, 10rem);
    line-height: 1;

    white-space: nowrap; // que no baje a otra linea
    margin-top: 0;
    margin-bottom: 0;
}

.hero__subtitle {
    color: $color-text-main;
    font-size: clamp(0.8rem, 1.3vw, 1.4rem);

    font-weight: 500; // Medium
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-bottom: 0;
}

.hero__price {
    font-size: clamp(1.5rem, 3vw, 2.4rem); 
    font-weight: 500; // SemiBold;
    margin-left: 2.5rem;
}

// btn hero
.hero__cta {
    font-size: clamp(0.75rem, 1.2vw, 1rem);         
    font-weight: 400; // SemiBold;
    width: fit-content;
    margin-left: 2.5rem;     
 
  /* espacio dentro del boton, alto ancho */
    padding: clamp(0.35rem, 0.8vh, 1.6rem)
           clamp(1.5rem, 1.4vw, 2.6rem);    
}

.hero__cta:hover {
    border-color: $color-text-main;
    opacity: 0.7;
    transform: translateY(-1px);  
}

/* texto vertical mas linea */
.hero__side-label {
    grid-column: 1;
    grid-row: 3;
    align-self: end;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: clamp(0.3rem, 0.5vw, 0.8rem);
    z-index: 2;

    /* linea a la derecha del texto */
    &::after {
        content: "";
        width: 1.5px;
        height: clamp(4rem, 10vw, 12rem);
        background-color: $color-text-main;   
    }    
}

/* texto */
.hero__side-text {
    display: block;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);

    font-size: clamp(0.7rem, 1.5vh, 1.5rem);
    letter-spacing: 0.2em;        
    text-transform: uppercase;
     
    // distancia hasta la base, esta invertido
    padding-top: clamp(2rem, 6vh, 5rem);
}

/* bootstrap navbar personalizada */
.custom-navbar {
    color: $color-text-main !important;
    position: relative;
    z-index: 3 !important;

    // alinea con el hero
    .container {
        max-width: 1600px;
        margin: 0 auto;
        padding-left: clamp(2rem, 3vw, 6rem);
        padding-right: clamp(2rem, 3vw, 6rem);        
    }

    /* logo de texto */
    .navbar-brand {
        font-size: clamp(1rem, 1.6vw, 1.4rem);
        letter-spacing: clamp(4px, 0.4vw, 8px);
        font-weight: 600 !important;
     }    

    /* links */
    a {
        color: $color-text-main !important;
        //font-size: 8rem;
        font-size: clamp(1rem, 1.2vw, 1.2rem);        
        font-weight: 350 !important;

        &:hover {
            text-decoration: none;
            opacity: 0.7;
            transform: translateY(-1px);            
        }
    }

    /* link activo navbar */
    .nav-link[aria-current="page"] {
        color: $color-text-main !important;
        font-weight: 600 !important;         
    }  
    
    /* contenedor para los dos iconos */
    .nav-icons {
        margin-left: auto; /* empuja a la derecha */
        display: flex;
        gap: clamp(0.6rem, 1vw, 1.2rem);
    }

    .nav-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s ease, transform 0.2s ease;

        img {
            width: clamp(18px, 1.3vw, 26px);
            height: auto;
        }    

        &:hover {
            opacity: 0.7;
            transform: translateY(-1px);
        }       
    
    }
}

/****** fin header layout *****************************************/